body {
    margin: 0;
    padding-top: 50px;
    font-family: sans-serif;
    background-color: darkcyan;
    /* background-image: url('https://media.giphy.com/media/JayoKoUZcnGwM/giphy.gif'); */
    color:  darkmagenta;
}